numpy==1.24 
ipywidgets==7.7.2
scipy 
matplotlib==3.6.2
astropy
gdown==4.3.0
ipympl==0.9.2 #?
voila==0.3.4
jinja2==2.11.3
markupsafe==2.0.1
voila-material
ipython
plotly
cmocean
pandas
Pillow
cycler

#google_drive_downloader
#ipyvolume
#django
#gunicorn
#django-heroku
#datetime
#astroquery
#bqplot
