#plotly
numpy
scipy 
matplotlib
astropy
#datetime
#astroquery
#pandas
ipywidgets
ipympl
voila==0.3.4
jinja2==2.11.3
markupsafe==2.0.1
voila-material
ipython
#bqplot
ipympl
#ipyvolume
#django
#gunicorn
#django-heroku